body{
    background: rgb(230, 227, 227);
}
#navbar{
    position: sticky;
    background-image:linear-gradient(90deg,red,black,rgb(37, 162, 215));
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
/*--About us*/
#about-us{
   background:#f8f9f8;
   padding-bottom: 50px;
   padding-left: 50px;
}
.card-header{
    background-image:linear-gradient(90deg,red,black,rgb(37, 162, 215)) ; 
    color:rgb(255, 166, 181);
}
.head-tab{
    background-image:linear-gradient(90deg,red,black,rgb(37, 162, 215)) ;
}
.navbar-brand{
    font-weight: bold;
    margin-left:15px;
    font-size:x-large;
    color:gold;
}
.about-title{
   font-size:10px;
}
.invent{
    padding-top:20px;
}
.orderm{
    padding-top:10px;
}
.alt-sgnl{
    height:70px;
    width:70px;

}
.invent_alert{
padding-top:5px;
}
