body{
    background: rgb(230, 227, 227);
}
#navbar{
    position: sticky;
    
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
/*--About us*/
#about-us{
    background:#f8f9f8;
   padding-bottom: 50px;
   padding-left: 50px;
}
