*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
   /* / background-color: aliceblue; */
}
/* navbar css */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
   
}
.navbar{
    background-image:linear-gradient(to right,#a517ba,#5f1782) ;
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a{
    color: aliceblue !important;
    font-weight:600;
    float: right;
    text-align: left;
}
.fs-bars{
    color: aliceblue;
    font-size: 30px!important;
}
.navbar-toggler{
    outline: none !important;
}
/*BANNER SECTION*/
#banner{
    background-image:linear-gradient(to right,#a517ba,#5f1782) ; 
    color: aliceblue; 
    padding-top: 5%;
}
.romo{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20%;
}
.bottom-img{
    width: 100%;
}
/* Services section*/
#services{
    padding: 80px 0;
    background-color: white;
}
.service-img{
width: 100px;
margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;

}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}
.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);

}
#services .btn-primary{
box-shadow: none;
padding: 8px 25px;
border-radius: 20px;
background-image:linear-gradient(to right,#a517ba,#5f1782) ; 
}
/* ABOUT US SECTION */

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left: 20px;
}
/* SOCIAL MEDIA SECTION */
#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;

}
.social-icons img {
    width: 60px;
    transition: transform 0.5s; /* Changed transition property */
}

.social-icons a:hover > img { /* Corrected selector */
    transform: translateY(10px);
}

/* footer section*/
#footer{
    
    background-image:linear-gradient(to right,#a517ba,#5f1782) ; 
    color: #fff;}
.footer-img{
    width: 100%;
}
.footer-box .fa{
    
    margin-right: 8px;
    font-size: 25px;
    height: 40;
    width: 40px;
    text-align: center;
    padding-top:7px ;
    border-radius:2px ;
    background-image:linear-gradient(to right,#a517ba,#5f1782) ; 
}

.contact-container {
    text-align: center; /* Center align the content horizontally */
    margin: 0 auto; /* Center the container itself horizontally */
    max-width: 400px; /* Optional: Set a maximum width for the container */
  }

nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after
{
    width: 100%;
}
nav{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
   
}

